<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold">
      <i class="bi bi-tree-fill me-2"></i>
      EcoEventos Palmas
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="sidebar col-md-3 col-lg-2 p-0">

      <div class="p-3">

        <h5 class="text-center mb-4 text-success">
          Painel Administrativo
        </h5>

        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/dashboard">
              <i class="bi bi-speedometer2"></i>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/eventos">
              <i class="bi bi-calendar-event"></i>
              Eventos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/novo-evento">
              <i class="bi bi-plus-circle"></i>
              Novo Evento
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/participantes">
              <i class="bi bi-people"></i>
              Participantes
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/relatorios">
              <i class="bi bi-graph-up"></i>
              Relatórios
            </a>
          </li>

        </ul>

      </div>

    </div>

    <!-- CONTEÚDO -->
    <div class="main-content col-md-9 col-lg-10">

      <router-outlet></router-outlet>

    </div>

  </div>
</div>